<div id="accounts">
    <div class="hide-until-load">
        <div class="accounts-top-buttons">
            <div class="btn btn-blue">
                <div class="btn-with-icon">
                    Request
                    <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 26 26">
                        <path d="M13 25L1.74 6.5L24.26 6.5z" fill="transparent" stroke="white" stroke-width="3" />
                    </svg>
                </div>
                <div class="rippleJS"></div>
            </div>
            <div id="accounts-pay" class="btn btn-orange">
                <div class="btn-with-icon">
                    Pay
                    <svg class="arrow-up" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 26 26">
                        <path d="M13 25L1.74 6.5L24.26 6.5z" fill="transparent" stroke="white" stroke-width="3" />
                    </svg>
                </div>
                <div class="rippleJS"></div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="container">
            <p class="text-darker-gray">Total: &nbsp;&nbsp;
                <span id="accounts-total"></span>
            </p>
        </div>
        <div class="separator"></div>
    </div>
    <div id="accounts-list">
        <div class="spinner-center">
            <div class="spinner"></div>
        </div>
    </div>
</div>