<div id="navbar" class="no-select">
    <div id="navbar-inner">
        <h3 id="navbar-title">Accounts</h3>
        <div>
            <img id="navbar-profile">
        </div>
    </div>
    <div id="navbar-stripe">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
        <div class="color5"></div>
        <div class="color6"></div>
        <div class="color7"></div>
        <div class="color8"></div>
        <div class="color9"></div>
        <div class="color10"></div>
        <div class="color11"></div>
        <div class="color12"></div>
    </div>
</div>